/* Definição do estilo para o corpo da página */
body {
  /* Cor de fundo preta (#000) para o corpo da página */
  background-color: #000;
}

/* Estilo da barra lateral (sidebar) */
.sidebar {
  /* Fixa a posição da barra lateral à esquerda da tela */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /* Adiciona um espaçamento interno de 12 pixels à barra lateral */
  padding: 12px;
  /* Largura da barra lateral definida como 300 pixels */
  width: 300px;
}

/* Estilo para a navegação dentro da barra lateral */
.sidebar__navigation {
  /* Cor de fundo escura (#121212) para a navegação */
  background-color: #121212;
  /* Borda arredondada com raio de 8 pixels */
  border-radius: 8px;
  /* Adiciona espaçamento interno para a navegação */
  padding: 16px 0 0 16px;
}

/* Estilo para a seção do logotipo dentro da navegação */
.sidebar__navigation .logo {
  /* Cor de fundo escura (#121212) para a seção do logotipo */
  background: #121212;
  /* Exibe os elementos em linha (horizontal) dentro da seção do logotipo */
  display: flex;
  /* Borda arredondada com raio de 8 pixels */
  border-radius: 8px;
  /* Adiciona espaçamento interno para a seção do logotipo */
  padding: 16px 0 0 16px; 
}

/* Estilo para a imagem dentro da seção do logotipo */
.logo img {
  /* Largura fixa da imagem como 80 pixels */
  width: 80px;
}

/* Estilo para a lista não ordenada (ul) dentro da navegação */
.sidebar nav ul {
  /* Adiciona margem superior de 20 pixels à lista */
  margin-top: 20px;
  /* Adiciona espaçamento interno à lista */
  padding: 0 20px 10px 20px;
}

/* Estilo para cada item de lista (li) dentro da barra lateral */
.sidebar ul li {
  /* Adiciona espaçamento interno ao item de lista */
  padding: 10px 0px;
}

/* Estilo para os links (a) dentro dos itens de lista da navegação */
.sidebar nav ul li a {
  /* Cor do texto para os links (#b3b3b3) */
  color: #b3b3b3;
  /* Remove a decoração de sublinhado dos links */
  text-decoration: none;
  /* Peso da fonte definido como 600 (semi-negrito) */
  font-weight: 600;
  /* Tamanho da fonte definido como 14 pixels */
  font-size: 14px;
  /* Família da fonte definida como "DM SANS" ou, se não disponível, uma fonte sans-serif genérica */
  font-family: "DM SANS", sans-serif;
}

/* Estilo para a seção da biblioteca */
.library {
  background-color: #121212;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4px 8px;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}

/* Estilo para o conteúdo da biblioteca */
.library .library__content {
  display: flex;
  justify-content: space-between;
}

/* Estilo para o botão da biblioteca */
.library .library__button {
  display: flex;
  margin-right: 10px;
  color: #b3b3b3;
  background-color: transparent;
  border: 0px;
  font-size: 14px;
  font-weight: 700;
  font-family: "DM SANS", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 20px 10px;
}

/* Ajuste de nome de classe corrigido para o ícone no botão da biblioteca */
.library .library__button .fa {
  font-size: 20px;
  margin-right: 10px;
  font-weight: 300;
  padding-right: 8px; 
}

/* Ajuste de nome de classe corrigido para o ícone de adição na biblioteca */
.library .library__content .fa-plus {
  margin: 24px 10px;
}

/* Estilo para a seção de playlists */
.section-playlist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: #242424;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  margin: 8px 0px;
  padding: 16px 20px;
  border-radius: 10px;
}

/* Estilo para o conteúdo da seção de playlists */
.section-playlist .section-playlist__content {
  display: flex;
  flex-direction: column;
}

/* Estilo para o texto na seção de playlists */
.section-playlist__content .text {
  padding-bottom: 14px;
  color: #fff;
  font-family: "DM SANS", sans-serif;
}

/* Estilo para o título na seção de playlists */
.section-playlist__content .title {
  font-weight: 700;
}

/* Estilo para o subtítulo na seção de playlists */
.section-playlist__content .subtitle {
  font-weight: 500;
  font-size: 12px;
}

/* Estilo para o botão na seção de playlists */
.section-playlist__content .section-playlist__button {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #000;
  border-radius: 20px; /* Adiciona bordas arredondadas */
  font-size: 12px;
  font-weight: 700;
  font-family: "DM SANS", sans-serif;
  text-decoration: none;
  text-transform: none;
  padding: 10px;
  margin-top: 12px;
  width: 113px;  
}

/* Estilo para a seção de cookies na barra lateral */
.sidebar .cookies {
  margin: 25px 20px;
}

/* Estilo para o link na seção de cookies */
.sidebar .cookies a {
  color: #b3b3b3;
  font-weight: 500;
  font-size: 10px;
  text-decoration: none;
}

/* Estilo para o link hover na seção de cookies */
.sidebar .cookies a:hover {
  text-decoration: underline;
}

/* Estilo para a seção de idiomas na barra lateral */
.languages .languages__button {
  background-color: transparent;
  border: 1px solid #878787;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  width: 170px;
  margin: 8px;
  padding: 8px;
  border-radius: 20px;
}
