/* Estilos para telas com largura máxima de 1015 pixels */
@media screen and (max-width: 1015px) {
  .header__search {
    /* display: none !important; */  /* Comentado: ocultar o campo de pesquisa */
    width: auto !important;           /* Configurar a largura automática para o campo de pesquisa */
    display: none;                    /* Ocultar o campo de pesquisa */
  }

/* Estilos para telas com largura mínima de 1016 pixels e máxima de 1140 pixels */
@media screen and (min-width: 1016px) and (max-width: 1140px) {
  .header__search {
    /* display: none !important; */  /* Comentado: ocultar o campo de pesquisa */
    width: auto !important;           /* Configurar a largura automática para o campo de pesquisa */
    display: none;                    /* Ocultar o campo de pesquisa */
  }

  /* .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr !important;  /* Configurar o layout da grade para três colunas */
  }
}

/* Estilos para telas com largura máxima de 375 pixels */
@media screen and (max-width: 375px) {
  .playlist {
    display: none;                    /* Ocultar a seção da playlist */
  }

  .playlist-container {
    width: 100%;                      /* Ocupar toda a largura disponível */
    height: auto;                     /* Altura automática, ajusta conforme o conteúdo */
  }

  .sidebar {
    width: 342px;                     /* Largura da barra lateral reduzida para 342 pixels */
  }

  .offer__list-item {
    grid-template-columns: 1fr;       /* Configurar o layout da grade para uma coluna */
  }

  .offer__scroll-container {
    overflow-y: visible;              /* Tornar a barra de rolagem visível */
  }
}
